img {
    max-width:25%;
    float:right;
}

h1 {
    background-color: aqua;
    text-align: left;
    font-size: medium;
}

#h1_main {
    background-color: chartreuse;
    text-align: center;
    font-size: 35px
}

.exthref {
    color: brown;
}

.container {
    margin-top: 50px;
}