<!DOCTYPE HTML>
<html lang="en" , dir="ltr">

<head>
  <meta charset="utf-8">
  <title> Poisson Ivy's Movie Recommender </title>
</head>

<img style="max-width:30%;float:right" src="static/images/stockphoto.png">

<body style="background-color: darkolivegreen;">
    <h1 style="background-color: cornflowerblue;text-align: center;font-size: 20px;">
      {{title}}
    </h1>
    <p>
      Where do you want to get recommendations from?
    </p>

    <a style="color:antiquewhite" href="https://www.imdb.com">
      IMDB
    </a>
  <br>

    <a href="/recommendations">
      Get Recommendations
    </a>
    <br>

    <a href="https://www.rottentomatoes.com">
      Get reviews
    </a>
    <br>

    <a href="https://www.netflix.com">
      Watch the films
    </a>
</body>


</html>