<!DOCTYPE HTML>
<html lang="en" , dir="ltr">

<head>
  <meta charset="utf-8">
  <title> Poisson Ivy's Movie Recommender </title>
  <link rel="stylesheet" href="static/css/main.css">
</head>

<img src="static/images/stockphoto.png">

<body style="background-color: darkolivegreen;">
    <h1 id="h1_main">
      {{title}}
    </h1>
    <p>
      Where do you want to get recommendations from?
    </p>
  
  <div class="container">
    <h1>Links</h1>

    <a style="color:antiquewhite" href="https://www.imdb.com">
      IMDB
    </a>
  <br>

    <a href="/recommendations">
      Get Recommendations
    </a>
    <br>

    <a class=exthref href="https://www.rottentomatoes.com">
      Get reviews
    </a>
    <br>

    <a href="https://www.netflix.com">
      Watch the films
    </a>
  </div>
</body>


</html>